@model List<GameViewModel>
@{
    ViewData["Title"] = $"Games";
    Pager pager = new();
    var PageNo = 0;
    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        PageNo = pager.CurrentPage;
    }
}
<h2>Games</h2>
@if (!Model.Any())
{
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">There is no Games!!!.</p>
    </div>
}
else
{
    <div class="mt-4">
        <table class="table table-bordered border-primary">
            <tbody>
                @foreach(var game in Model)
                {
                    <tr class="border-1 border-success">
                        <td>
                            <div class="d-flex">
                                <div class="me-3">
                                    <img src="@($"{FileSettings.ImagePath}/{game.Cover}")" alt="@game.Name" style="max-width:80px;max-height:100px;width:80px;height:100px;"/>
                                </div>
                                <div class="d-flex flex-column justify-content-center">
                                    <h4 class="text-light">@game.Name</h4>
                                    <h5>@game.Category</h5>
                                </div>
                            </div>
                        </td>
                        <td class="align-middle">
                            <div class="d-flex justify-content-end">
                                <a class="btn btn-info rounded rounded-3 me-2" asp-action="Edit" asp-controller="Games" asp-route-id="@game.Id">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>
                                <a href="javascript:;" class="btn btn-danger rounded rounded-3 js-delete" data-id="@game.Id">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
       <partial name="_pager" model="@pager"/>
    </div>
}
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/deletegame.js" asp-append-version="true"></script>
}